<!-- TODO: wrap comments in a modal which will open when comments icon clicked -->
<div id="comments-section-{{post.pk}}">
    <button type="submit" hx-post="{% url 'get_comments_modal' post.pk %}" hx-swap="outerHTML"
        hx-target="#comments-modal-{{post.pk}}">
        {% if post.number_of_comments > 0 %}
        View all {{ post.number_of_comments }}
        Comment{{ post.number_of_comments|pluralize }}
        {% else %}
        Add a Comment...
        {% endif %}
    </button>
    <div id="comments-modal-{{post.pk}}"></div>
</div>