<div id="post-modal"></div>
<div class="flex flex-col w-screen items-center my-2">
    {% for post in all_posts %}

    <div
        class="flex flex-col w-100 md:w-96 h-auto md:my-2 pb-2 justify-center border-y first:border-t-0 last:border-b-0 last:mb-10 md:last:mb-0 md:border md:rounded-md md:first:border-t md:last:border-b">
        <!-- Top section of the post -->
        <div class="ml-4 h-14 flex flex-row items-center gap-2 py-8">
            <img src="{{ post.author.profile_pic.url }}" class="w-10 rounded-full border-2 border-violet-500 p-0.5"
                alt="">
            <p>{{ post.author.user.username }}</p>
        </div>

        <!-- User posted image -->
        <img src="{{ post.get_post_image }}" alt="user-image" class="h-1/2 w-auto object-cover">

        <!-- Like and Comment icons  -->
        <div class="flex flex-row gap-4 ml-4 mt-4 h-6 items-center">
            <!-- like button -->
            <!-- Updates adds user to post likes and change color of the like button -->
            <button type="submit" hx-post="{% url 'handle_like' post.pk %}" hx-target="#likes-section-{{ post.pk }}"
                hx-swap="outerHTML">
                <!-- This iff statement is because whenenver the page is reloaded get the updated list of 
                users who have liked and color the button accordingly -->
                {% if request.user in post.users_who_liked %}
                <svg id="like-button-{{post.pk}}" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="red"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
                {% else %}
                <svg id="like-button-{{post.pk}}" xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                </svg>
                {% endif %}
            </button>

            <!-- comment button -->
            <!-- Open modal to add/view comments -->
            <button type="submit" hx-post="{% url 'get_comments_modal' post.pk %}" hx-swap="outerHTML"
                hx-target="#comments-modal-{{post.pk}}">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M7 8h10M7 12h4m1 8l-4-4H5a2 2 0 01-2-2V6a2 2 0 012-2h14a2 2 0 012 2v8a2 2 0 01-2 2h-3l-4 4z" />
                </svg>
            </button>
        </div>

        <!-- the likes count and user likes list -->
        <div class="ml-4">
            {% include 'likes.html' %}
        </div>

        <!-- Caption section -->
        <div class="ml-4 items-center break-normal break-all">
            <span class="font-medium">{{ post.author.user.username }} </span>{{ post.post_caption }}
        </div>

        <!-- Comments section -->
        <div class="ml-4">
            {% include 'comments.html' %}
        </div>
    </div>
    {% endfor %}
</div>