{% extends 'base.html' %}


{% block content %}

{% include 'navbar.html' %}

<div class="flex w-full flex-col md:max-w-4xl mx-auto w-full mt-4 md:px-10">

    <!-- Header section -->
    <div class="flex flex-row gap-4 m-4 ">
        <div class="shrink text-center ">
            <a href="#" class="w-fit">
                <img src="{{ user_profile.profile_pic.url }}" alt="profile pic"
                    class="h-20 w-20 md:h-40 md:w-40 rounded-full border-2 border-gray-300">
            </a>
        </div>
        <div class="flex flex-col grow text-2xl font-normal ml-4">
            <div class="flex flex-row justify-between">
                <p>{{user_profile.user.username}}</p>
                {% if request.user == user_profile.user %}
                <!-- Edit profile button for current user -->
                <a href="#" class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                        stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M10.325 4.317c.426-1.756 2.924-1.756 3.35 0a1.724 1.724 0 002.573 1.066c1.543-.94 3.31.826 2.37 2.37a1.724 1.724 0 001.065 2.572c1.756.426 1.756 2.924 0 3.35a1.724 1.724 0 00-1.066 2.573c.94 1.543-.826 3.31-2.37 2.37a1.724 1.724 0 00-2.572 1.065c-.426 1.756-2.924 1.756-3.35 0a1.724 1.724 0 00-2.573-1.066c-1.543.94-3.31-.826-2.37-2.37a1.724 1.724 0 00-1.065-2.572c-1.756-.426-1.756-2.924 0-3.35a1.724 1.724 0 001.066-2.573c-.94-1.543.826-3.31 2.37-2.37.996.608 2.296.07 2.572-1.065z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                    </svg>
                </a>
                {% endif %}
            </div>
            {% if request.user == user_profile.user %}
            <div class="grid mt-4" id="profile-buttons">
                <button class="border rounded text-base font-semibold p-1">Edit Profile</button>
            </div>
            {% else %}
            {% if request.user.pk in follower_ids %}
            <div class="grid grid-cols-2 gap-2 mt-4" id="profile-buttons">
                <button class="border rounded text-base font-semibold  p-1">Message</button>
                <button class="border rounded text-base font-semibold  p-1"
                    hx-post="{% url 'handle_follow' user_profile.pk %}" hx-swap="outerHTML"
                    hx-target="#profile-buttons">Following</button>
            </div>
            {% else %}
            <div class="grid mt-4" id="profile-buttons" hx-post="{% url 'handle_follow' user_profile.pk %}"
                hx-swap="outerHTML" hx-target="#profile-buttons">
                <button class="rounded text-base font-semibold bg-blue-400 text-white p-1">Follow</button>
            </div>
            {% endif %}
        </div>
        {% endif %}
    </div>
</div>

<!-- Bio section -->
<div class="flex flex-col m-4 ">
    <p class="font-semibold">{{user_profile.user.first_name}} {{user_profile.user.last_name}}</p>
    <p>{{user_profile.bio}}</p>
</div>

<!-- Metric section -->
<div class="mt-4 border-y">
    <div class="grid grid-cols-3 gap-14 px-4 py-3 justify-between items-center">

        <!-- Posts -->
        <div class="flex flex-col items-center font-semibold">
            {{all_posts|length}} <span
                class="text-gray-400 text-sm font-normal">post{{all_posts|length|pluralize}}</span>
        </div>

        <!-- Followers Modal -->
        {% include 'modals/modal_profile_followers.html' %}

        <!-- Following Modal -->
        {% include 'modals/modal_profile_following.html' %}
    </div>
</div>

<!-- type of post section -->
<div class="flex flex-row justify-center items-center border-b py-2">
    <div class="flex flex-row gap-1">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"
            stroke-width="1">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
        </svg>
        Posts
    </div>
</div>

<!-- All posts -->
<div class="grid grid-cols-3 gap-0.5">
    {% for post in all_posts %}
    <div class="aspect-square">
        <img src="{{post.post_image.url}}" class="aspect-square object-cover object-center" alt="">
    </div>
    {% endfor %}
</div>
</div>
{% endblock content %}